{% extends 'main.html' %}
{% block stem %}active{% endblock %}
{% block main %}
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                        <textarea class="form-control" name="mytextarea" id="text" rows="6"
                                  placeholder="Word"></textarea>
                            <button class="btn btn-primary mt-3" onclick="sendPostRequest()">Submit</button>
                        </div>
                        <div class="col-sm-6">
                            <textarea class="form-control" id="result" rows="6" placeholder="Stem"></textarea>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.card -->
        </div>

        <script>
            function getCSRFToken() {
                return document.cookie.split('; ')
                    .find(row => row.startsWith('csrftoken='))
                    ?.split('=')[1];
            }

            function sendPostRequest() {
                var textValue = document.getElementById('text').value;
                var url = window.location.origin + '/api/stem/';

                var xhr = new XMLHttpRequest();
                xhr.open('POST', url, true);

                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.setRequestHeader('Accept', 'application/json');
                xhr.setRequestHeader('X-CSRFToken', getCSRFToken());

                xhr.onload = function () {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        document.getElementById('result').textContent = response.result;
                    } else {
                        console.error('Ошибка запроса. Статус:', xhr.status);
                    }
                };

                var data = JSON.stringify({word: textValue});
                xhr.send(data);
            }
        </script>

        <!-- /.container-fluid -->
    </section>
{% endblock %}